.root {
    -fx-padding: 10 25 10 25;
}
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: gold;
    -jfx-disable-visual-focus: true;
    -fx-font-family: "Trebuchet MS";
}
.label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 16;
    -fx-font-weight: 300;
}
.ikonli-font-icon {
    -fx-icon-size: 60;
    -fx-icon-color: darkslategrey;
}
.record-button {
    -fx-icon-size: 24;
    -fx-icon-color: darkslategrey;
}
.path-field {
    -fx-min-width: 250;
}